<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crust&Crumbs Restaurant</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Home Section -->
    <section id="home" class="section home-section">
        <div class="overlay">
            <h1>Welcome to Crust&Crumbs Restaurant</h1>
            <p>Indulge in exquisite flavors and premium dining experience</p>
            <button >Explore Menu</button>
        </div>
    </section>

    <!-- Menu Section -->
    <section id="menu" class="section menu-section">
        <h1>Our Signature Dishes</h1>
        <div class="menu-gallery">
            <div class="menu-item">
                <img src="../Images/pasta.jpg" alt="Pasta">
                <div class="menu-item-info">
                    <h2>Pasta</h2>
                    <p>$50</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="../Images/pizza.jpg" alt="Pizza">
                <div class="menu-item-info">
                    <h2>Pizza</h2>
                    <p>$200</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="../Images/saladd.jpg" alt="Salad">
                <div class="menu-item-info">
                    <h2>Salad</h2>
                    <p>$70</p>
                </div>
            </div>
            <div class="menu-item">
                <img src="../Images/Desserts.jpg" alt="Dessert">
                <div class="menu-item-info">
                    <h2>Dessert</h2>
                    <p>$150</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Us Section -->
    <section id="about" class="section about-section">
        <h1>About Us</h1>
        <p>At Crust&Crumbs Restaurant, we create unique culinary experiences using fresh, locally sourced ingredients. Our team of expert chefs combines passion with precision, bringing you the finest dishes in a luxurious atmosphere.</p>
    </section>

    
    <section id="contact" class="section contact-section">
        <h1>Contact Us</h1>
        <p>Phone: +1 234 567 890</p>
        <p>Email: info@Crust&Crumbsrestaurant.com</p>
        <p>Location: 123 Crust&Crumbs Avenue, Food City</p>
    </section>

   
</body>
</html>